*   {
    margin : 0;
    box-sizing : border-box;
}

body {
    font-size : 16px;
    background-color : #555;
}

input {
    background-color : #999;
}

input::placeholder {
    color: rgb(210, 210, 210);
    font-style: italic;
  }

#container {
    margin : 0 auto;
    padding : 0.2rem;
    width : 100vw;
    height : 100vh;
    color : #CCCC00;
}

#container p {
    font-size : 0.8rem;
    width : 50%;
    padding : 0.3rem 0 0 0.3rem;
 }


.finalCorrValue {
    font-size : 1.2rem;
    font-weight : bold;
    color : pink;
    display : inline-block;
    margin-left : 1rem;
    line-height : 100%;
    text-align : center;
}

.altInputContainer {
    display : block;
    height : 2rem;
}

.finalCorrSolveValue {
    font-size : 0.7rem;
    color : #888;
    margin : 0.2rem 0 0.6rem 0;
}

.finalCorrSolveValue span {
    color : #AAA;
    font-weight : 900;
}

#airportId, .inputData {
    height : 2rem;
    width : 9rem;
}

.inputAlt {
    display : inline-block;
    line-height : 100%;
    margin : auto;
}

.inputFixList {
    border : 1px solid; 
}

